{{ define "main" }}
<div id="page-category">
  <h1 class="pl-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ .Title }}
    <span class="lead text-muted pl-2">{{ len .Pages }}</span>
  </h1>

  <ul class="post-content pl-0">
    {{ range .Pages }}
    <li class="d-flex justify-content-between pl-md-3 pr-md-3">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <span class="dash flex-grow-1"></span>
      <span class='text-muted small'>{{ .Date.Format "2 January, 2006" }}</span>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}